<app-sidebar>
</app-sidebar>

<div class="main-panel">

  <app-nav-bar></app-nav-bar>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header" data-background-color="green">
              <h4 class="title">Agendamentos</h4>
              <p class="category">Lista de serviços agendados</p>
            </div>
            <div class="card-content">
              <div class="col-md-12">
                <p-schedule [events]="events" [header]="header" [locale]="pt-br"></p-schedule>
                <br><br>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
