<div class="signup-page">
  <div class="wrapper">
    <div class="header header-filter" style="background-image: url('../assets/img/fundo-login.jpg'); background-size: cover; background-position: top center;">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <div class="card card-signup">
              <form class="form" (submit)="register()">
                <div class="header header-primary text-center">
                  <h3><i class="material-icons">store</i> Estabelecimento</h3>
                  <hr>
                  <h4>Registre-se</h4>
                </div>
                <div class="content">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon">
											    <i class="material-icons">home</i>
										    </span>
                        <div class="form-group">
                          <input required type="text" class="form-control" placeholder="Nome..." name="name" [(ngModel)]="user.name">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon">
											    <i class="material-icons">email</i>
										    </span>
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Email..." name="email" [(ngModel)]="user.email">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="input-group">
                        <span class="input-group-addon">
											    <i class="material-icons">lock_outline</i>
										    </span>
                        <div class="form-group">
                          <input type="password" class="form-control" placeholder="Senha..." name="password" [(ngModel)]="user.password" />
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- If you want to add a checkbox to this form, uncomment this code

									<div class="checkbox">
										<label>
											<input type="checkbox" name="optionsCheckboxes" checked>
											Subscribe to newsletter
										</label>
									</div> -->
                </div>
                <div class="footer text-center">
                  <input class="btn btn-simple btn-primary btn-lg" value="Voltar" type="button" (click)="goToLogin()"/>
                  <button class="btn btn-primary" type="submit">Registrar</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <footer class="footer">
        <div class="container">
          <nav class="pull-left">
            <ul>
              <li>
                <a href="#">
									Engenho Software
								</a>
              </li>
              <li>
                <a href="#">
								   Appetcare
								</a>
              </li>
              <li>

              </li>
              <li>

              </li>
            </ul>
          </nav>
          <div class="copyright pull-right">
            &copy; 2017
            <a href="#" target="_blank"><img height="40px" width="105px" src="../assets/img/mardev.png" /></a>
          </div>
        </div>
      </footer>
    </div>
